@{
  Layout = "_Layout";
}

@using Factory.Models;
@model Factory.Models.Machine;

<h2>Machine Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>

<ul>
@if (@Model.Engineers.Count == 0)
{
  <p>No Engineers Found</p>
}

@foreach (Engineer engineer in @Model.Engineers)
{
  <li>Name: @engineer.Name</li>
}
</ul>

<p>@Html.ActionLink("Back to Machines", "Index")</p>